/.ipynb_checkpoints
/.vscode
/juche.py
/KOSDAKLIST.xlsx
/KOSPILIST.xlsx
/KOSPILIST100_.xlsx
/MACDgotoZero.xlsx
/maemae.py
/practice.py
/searchcode.py
/StockList.xlsx
/test.py
/tooza.py
/unknown.txt
/Untitled.ipynb